<!DOCTYPE html>
<html>

<head>
  <title>Kata06</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="wrapper">
    <main class="main-content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "Admin", employees_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Employees", employees_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Companies", companies_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Reports", reports_path, class: "nav-link active" %>
              </li>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Add
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <%= link_to "New Employee", new_employee_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to "New Company", new_company_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to "New Report", new_report_path, class: "dropdown-item" %>
                </li>
              </ul>
          </div>
          <%= link_to "logout", logout_path, class: "nav-link active" %>
        </div>
      </nav>
      <%= yield %>
    </main>
  </div>
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
</body>

</html>