<%= form_with(model: @employee, url: loginE_path)  do |f| %>
<div class="container">
<p><%= I18n.l(Date.today, format: '%A, %d  %B  %Y') %><p>
<h1 class="hour"><%= Time.now.strftime("%H:%M") %></h1>
  <div class="col-sm-6 centered">
      <%= f.text_field :private_num, class: "form-control",placeholder:"Add your private Number" %>
      <div class="flex-btn">
      <button type="submit" class="btn chekin">Check in</button> 
      <%= f.submit "Check out", formaction: logoutE_path, class: "btn danger-btn"  %>
      </div>
  </div>


<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
</div>
<% end %>
