<div id=table>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @report.each do |e| %>
      <tr>
        <td><%= e.report_type %></td>
        <td><%= e.date %></td>
        <td><%= e.description %></td>
        <td><%= e.administrator.username %></td>
        <td><%= link_to 'Edit', edit_report_path(e),class:"btn btn-secondary"%></td>
        <td><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>